{% extends 'base.html' %}

{% block content %}
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12">
            
<div class="card border-success mb-3 mt-4">
    <div class="card-header ">
        <h5>intern history of {{ encadrant.name }} {{ encadrant.last_name }}         </h5>       
        
    </div>
  
    <div class="card-body">
    
     <div class="table-responsive">
                              <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th scope="col">full name </th>
                                      <th scope="col">sujet</th>
                                     <th scope="col"> start date </th>
                                     <th scope="col"> end date </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                     {% for stagiaire in stagiaires %}
                                      <tr>
                                          <td scope="row">{{ stagiaire.name }} {{ stagiaire.last_name }}</td>
                                          <td>{{ stagiaire.sujet }}</td>
                                         <td>{{ stagiaire.date_arr }}</td>
                                        
                                        <td> {{ stagiaire.date_fin }}</td>
                                    </tr>
                                      {%endfor%}
                                  </tbody>
                                </table>
                            
                          </div>
    </div>
  </div>

{% endblock %}
