{% extends 'base.html' %}

{% block title %}Current interns {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
                <div class="card border-success mb-2 ms-4 me-4">
                    <div class="card-header">
                        <h5 class="card-title">Number of Interns in {{ month_name }} {{ year }} :</h5>
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">There are {{ num_interns }} interns in the current month: </h4>
                        <br>
                        <ul class="list-group">
                            {% for stagiaire in stagiaires %}
                            <li class="list-group-item">
                                <div class="dropdown">
                                    <a class="btn btn-outline-secondary button5 "  href="{% url 'stagiaire_detail' stagiaire.id %}" >
                                        <i class="fa fa-bars"></i>
                                    </a>
                                   
                                    {{ stagiaire.name }} {{ stagiaire.last_name }}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="navigation">
                    <a href="?month={{ prev_month }}" class="btn btn-outline-dark mb-4"><<</a>
                    <a href="?month={{ next_month }}" class="btn btn-outline-dark mb-4">>></a>
                </div>
            </div>
        </div>
    </div>

    <style>
        .button5 {
            border-radius: 50%;
            padding: 6px;
            width: 30px;
            margin-right: 10px;
        }
    </style>
{% endblock %}
